/**
 * Flex Bar component
 * --------------------------------------------------
 * - basic bar
 * - IE9 overrides (delete this section later)
 */

/**
 * 1st level container
 */

.bar {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;

  label {
    display: inline; // fix for inline-block setting that made the flex baseline align with the lower baseline when wrapping
  }

  input,
  select,
  .faux-input {
    display: inline-block;
  }

/**
 * 2nd level container
 */

  > ul {
    @extend .list-inline;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    > li {
      vertical-align: middle;
    }

    img {
      @extend img.non-responsive;
    }
  }

  &-left {
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;
    margin-right: rem(-6); // compensation for padding-right of .list-inline
    text-align: right;
  }
}



/**
 * IE9 fall back
 */

.bar {
  overflow: hidden \9; // so the bar won't collapse

  > ul {
    > li {
      line-height: rem(2.5 * $font-size-base) \9;
    }
  }

  &-left {
    float: left;
  }

  &-center {
    float: left;
  }

  &-right {
    float: right;
  }
}
