/**
 * Filter-bar
 * --------------------------------------------------
 */

$filter-bar-padding-horizontal: 6px;
$filter-bar-item-padding:       0 ($filter-bar-padding-horizontal/2) $filter-bar-padding-horizontal 0;

.filter-bar {
  background-color: $gray-lightest;
  border: solid 1px $gray-light;
  border-radius: $border-radius-base;
  padding: rem($padding-base-vertical $padding-base-vertical 0);  // Bottom 'padding' is set by filter bar items' bottom margin

  .bar {
    > ul {
      margin-left: 0;

      > li {
        padding: 0;
      }
    }
  }

  &-item {
    margin: rem($filter-bar-item-padding) !important;

    &-link {
      display: inline-block;
      margin: rem($filter-bar-item-padding) !important;
      padding: rem($padding-base-vertical $padding-base-horizontal) !important;
    }
  }
}

a.filter-bar-item {
  @extend .btn;
  @extend .btn-transparent;
  font-weight: normal;
  margin: rem($filter-bar-item-padding);
}

a.filter-bar-link-external {
  display: inline-block;
  margin: rem($filter-bar-padding-horizontal 0 0 $filter-bar-padding-horizontal);
  padding: rem($padding-base-vertical $padding-base-horizontal);
}