/**
 * Filter-bar
 * --------------------------------------------------
 */

$filter-bar-padding-horizontal : 18px;

.filter-bar {
  background-color: $gray-lightest;
  border: solid 1px $gray-light;
  border-radius: $border-radius-base;
  padding: rem($padding-base-vertical $filter-bar-padding-horizontal);

  .bar {
    margin-left: rem(-12);
    > ul {
      > li {
        margin-bottom: rem(3);
        padding-right: rem(3);
      }
    }
  }

  .filter-item {
    margin-bottom: rem(3);
  }
}

a.filter-item {
  @extend .btn;
  @extend .btn-transparent;
  font-weight: normal;

  &-more {
    color: $link-color;
    transition: all $animation-speed linear;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $link-hover-color;
      text-decoration: underline;
    }

    &:focus {
      @include tab-focus();
    }

    &-external {
      @extend .filter-item-more;
      margin-left: rem(6);
    }
  }
}
