
/**
 * Flex Bar component
 */

// VARIABLES

$bor-height:                            50px !default;
$bor-bg-color:                          $gray-lighter;
$bor-border-radius:                     $border-radius-base !default;
$bor-color:                             #bfd1d9 !default;
$bor-link-color:                        $link-color !default;
$bor-link-hover-color:                  $link-hover-color !default;
$bor-link-bg-hover-color:               $gray-lighter;
$bor-padding:                           $padding-base-horizontal !default;


/* 1st level container */
/***********************/
.bor {
  background-color: $bor-bg-color;
  border: 1px solid $bor-color;

// flex settings
  align-items: baseline; // aligning underlying flex-items with each other (instead of setting this on 2nd level flexbox)
  display: flex;
  justify-content: space-between;

  > * {
    //background-color: mistyrose; // for testing purposes
  }

  label {
    display: inline; // fix for inline-block setting that made the flex baseline align with the lower baseline when wrapping
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="text"],
  .faux-input,
  input[type="url"],
  input[type="week"] {
    display: inline-block; // Firefox fix for block setting that made the flex baseline align with the bottom input field
  }

/* 2nd level container */
/***********************/

  ul {
    @extend .list-unstyled;
    @extend .list-inline;

    align-items: baseline; // aligning the li elements with each other
    display: flex;
    flex-wrap: wrap;
  }

  &-left {
    //float: left;

  }

  &-center {
    //float: left;
    justify-content: center;
  }

  &-right {
    //float: right;
    justify-content: flex-end;
    text-align: right;
  }
}


// TO DO
// text needs some padding when it's the only item type in the bar
// FIXED: align-items: baseline on ul doesn't work because it only set baseline on 1 ul container, not all three
// FIXED: checkboxes/radio buttons mess up baseline (because of inline-block of the label)
// in small screeens (480px?) the spans in the li's get split up (BUT ONLY ON THE RIGHT??) - have to give the li's an unbreakable block
// when wrapping the second lines don't align the same because 1st ul has a text input and 3rd ul hasn't
// FIXED: IN FIREFOX baseline is set on the bottom of the text input field because of input styling
