/**
 * Flex Bar component
 * --------------------------------------------------
 * - basic bor
 * - IE9 overrides (delete this section later)
 */

/**
 * VARIABLES
 */

$bor-height:                            50px !default;
$bor-bg-color:                          $gray-lighter;
$bor-border-radius:                     $border-radius-base !default;
$bor-color:                             #bfd1d9 !default;
$bor-link-color:                        $link-color !default;
$bor-link-hover-color:                  $link-hover-color !default;
$bor-link-bg-hover-color:               $gray-lighter;
$bor-padding:                           $padding-base-horizontal !default;


/**
 * 1st level container
 */

.bor {
  align-items: baseline; // aligning underlying flex-items with each other (instead of setting this on 2nd level flexbox)
  display: flex;
  justify-content: space-between;

  label {
    display: inline; // fix for inline-block setting that made the flex baseline align with the lower baseline when wrapping
  }

  input,
  select,
  .faux-input {
    display: inline-block; // Firefox fix for block setting that made the flex baseline align with the bottom input field
  }

/**
 * 2nd level container
 */

  > ul {
    @extend .list-inline;
    align-items: center; // aligning the li elements with each other - part 1
    display: flex;
    flex-wrap: wrap;

    > li {
      vertical-align: middle; // aligning the li elements with each other - part 2
    }

    img {
      @extend img.non-responsive;
    }
  }

  &-left {
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;
    margin-right: rem(-6);
    text-align: right;
  }
}



/**
 * IE9 fall back
 */

.bor {
  overflow: hidden \9; // so the bor won't collapse

  > ul {
    > li {
      line-height: rem(2.5 * $font-size-base) \9;
    }
  }

  &-left {
    float: left;
  }

  &-center {
    float: left; // Can be better, but is not necessary, since it's IE9
  }

  &-right {
    float: right;
  }
}
