
/**
 * Flex Bar component
 */

 // VARIABLES
$flex-bar-height:                            50px !default;
$flex-bar-bg-color:                          transparent !default;
$flex-bar-border-radius:                     $border-radius-base !default;
$flex-bar-color:                             #bfd1d9 !default;
$flex-bar-link-color:                        $link-color !default;
$flex-bar-link-hover-color:                  $link-hover-color !default;
$flex-bar-link-bg-hover-color:               $gray-lighter;
$flex-bar-padding:                           $padding-base-horizontal !default;

/* JUST FOR COMPARISON REASONS TO BE DELETED */
/*********************************************/

.grid-bar {
  background-color: $flex-bar-bg-color;
  border: 1px solid $flex-bar-color;
  border-radius: $flex-bar-border-radius;
  padding: $flex-bar-padding;

  ul {
    @extend .list-unstyled;

    li {
      display: inline;
      line-height: rem(35);
    }
  }
}

/*  END  */
/*********/


/* 1st level container */
/***********************/
.flex-bar {
    background-color: $flex-bar-bg-color;
    border: 1px solid $flex-bar-color;
    //border-radius: $flex-bar-border-radius;
    //padding: $flex-bar-padding;

    // set the 1st level flexbox container
    display: flex;
    justify-content: space-between;

  ul {
    @extend .list-unstyled;

    li {
      display: inline-block; // is not necessary when flex is set on ul
      line-height: rem(35);
    }
  }

  .flex-bar-left {

  }

  .flex-bar-center {
  }

  .flex-bar-right {

    ul {
      text-align: right;
    }

  }


  /* Media queries */

  @include mq($screen-xs-max, "max") {

    flex-flow: column nowrap;
    .flex-bar-right {
      ul {
        text-align: left;
      }
    }
  }
}
