
/* Basic card containing content */
  .info-card {
    background: $body-bg-alt;
    border: 1px solid #c0c0c0;
    border-radius: $border-radius-base;
    color: $text-color;
    left: rem(15);
    margin: 0 rem(5) 0 0;
    padding: rem(10);
    position: relative;

    @include mq($screen-sm) {
      // margin-top: rem(1);
      // max-width: calc(50% - 24px);
      margin: 0 rem(15) 0 0;
      max-width: 50%;
    }
  }
