/**
 * Table interactive
 * --------------------------------------------------
 * Basic styling is already done on the table element by the _table.scss
 * .table-interactive adds interactive styling elements
 */


.table-interactive {

  &.is-loading {
    cursor: not-allowed;
    position: relative;
    user-select: none;

    &:before, &:after {
      cursor: not-allowed;
      position: absolute;
      top: 0;
      z-index: layer('pseudo');
    }

    &:before {
      background: rgba($white, .8);
      bottom: 0;
      content: '';
      left: 0;
      right: 0;
    }

    &:after {
      animation: spin 1s linear infinite;
      color: $gray;
      content: "\f021";
      font-family: FontAwesome;
      font-size: 2em;
      font-style: normal;
      font-weight: normal;
      left: 50%;
      margin-left: -.5em;
      // pointer-events: none;
      top: rem(50);
    }
  }
  // }

  // &.is-loading {
    // tbody > tr {
    //   position: relative;

    //   &:before {
    //     background: rgba($white, .2);
    //     bottom: 0;
    //     content: '';
    //     left: 0;
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     z-index: layer('pseudo');
    //   }
    // }
  // }


  // &:focus {
  //   outline: none;
  // }

  // table {
  //   input[type="checkbox"] + label {
  //     padding: 0; // remove padding so the tablecell width can be adjusted

  //     @include mq($screen-xs-max, "max") {
  //       padding-right: rem(24);
  //     }
  //   }
  // }

  > thead > tr > th {
    position: relative;
    transition: background-color $animation-speed linear;
    user-select: none;

    // Fixed width for column with only checkboxes
    &.has-checkbox {
      width: rem(35);
    }

    // Only sortable columns should have an hover effect
    &.is-sortable {
      &:hover {
        background-color: $table-interactive-heading-hover-bg;
        color: $table-interactive-heading-hover-color;
        cursor: pointer;
      }
    }

    &.sort-asc {
      &:after {
        content: '\f106';
        font-family: 'FontAwesome';
        position: absolute;
        right: rem(8);
      }
    }

    &.sort-desc {
      &:after {
        content: '\f107';
        font-family: 'FontAwesome';
        position: absolute;
        right: rem(8);
      }
    }
  }

  // adding vertical separator to table heading
  &:not(.table-bordered) {
    > thead > tr > th:not(:first-child):before {
      border-left: solid 1px $table-interactive-heading-line;
      content: '';
      height: 60%;
      left: 0;
      position: absolute;
      top: 20%;
    }
  }
}



/**
 * Sort styling
 */
.table-interactive-options {
  overflow: visible;

  .is-selectable {
    padding-left: rem(4);
    padding-right: rem(4);
    transition: background-color $animation-speed linear;

    &.selected {
      background-color: $table-interactive-options-selected-bgcolor;
    }

    label {
      display: block;

      span {
        display: block;
        margin: rem(-2 -4 0 -6);
        padding: rem(2 6 2 6);
      }
    }
  }

  .is-draggable {
    &:hover {
      label {
        span {
          cursor: grab;
        }
      }
    }

    &:not(.selected) {
      &:hover {
        background-color: $table-interactive-options-hover-bgcolor;
      }
    }

    &:active {
      label {
        span {
          cursor: grabbing;
        }
      }
    }
  }

  .draggable-placeholder > div {
    opacity: .32;
    position: relative;

    &:before {
      background: $white;
      border: 1px dashed $table-interactive-options-dropzone-border;
      border-radius: $border-radius-base;
      bottom: 0;
      content: "";
      left: 0;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
  }
}

.table-interactive-sort {
  padding: rem(5);
  text-align: right;

  .btn-borderless {
    border: none;
    cursor: pointer;
    padding: 0 0 0 rem(4);

    &[disabled] {
      opacity: .32;
      pointer-events: none;
    }
  }

  i {
    user-select: none;

    &:first-child {
      margin-right: rem(4);
    }
  }
}

.table-interactive-cols {
  @extend .list-unstyled;
  @extend .clearfix;
  display: block;
  margin: rem(5 0);
  max-height: rem(150);
  overflow: hidden;
  overflow-y: auto;
  user-select: none;

  &:focus {
    outline: none;
  }

  li {
    overflow: hidden;
  }
}

.draggable-elem {
  &:focus {
    outline: none;
  }
}

button i {
  position: relative;
  z-index: 0;
}



/**
 * Table alternative heading -> this will be added to the table css when finished
 * --------------------------------------------------
 */

.table-alternative-heading {
  > thead > tr > th {
    background-color: $table-alternative-heading-bg;
    border-bottom: 0;
    color: $table-alternative-heading-color;
    transition: background-color linear $animation-speed;
  }
}

.table-alternative-heading.table-interactive {
  > thead > tr > th:hover {
    background-color: $table-alternative-heading-hover-bg;
    color:  $table-alternative-heading-hover-color;
  }
}
