/**
 * List filter bar component
 * --------------------------------------------------
 */


// variables

$list-filter-bar-bg:                    $gray-lightest;
$list-filter-bar-border-color:          $gray-light;
$list-filter-bar-color:                 $text-color;
$list-filter-bar-hover-bg:              $gray-lighter;
$list-filter-bar-hover-color:           $list-filter-bar-color;
$list-filter-bar-link-color:            $list-filter-bar-color;
$list-filter-bar-radius:                $border-radius-base;
$list-filter-bar-horizontal-padding:    10px;
$list-filter-bar-vertical-padding:      10px;
$list-filter-bar-padding:               10px;
$list-filter-bar-top-height:            50px;


// list-filter-bar styling which is based on the bar mixin.

.list-filter-bar {
  @include bar($list-filter-bar-top-height, $list-filter-bar-bg, $list-filter-bar-color, $list-filter-bar-link-color, $list-filter-bar-hover-color, $list-filter-bar-hover-bg, $list-filter-bar-padding);
  border: 1px solid $list-filter-bar-border-color;
  border-radius: $list-filter-bar-radius;
  padding: rem(0 $list-filter-bar-padding); // countering the first- and last-child padding rule of li in sections

// filter-toggle styling

  .filter-toggle {
    color: $list-filter-bar-color;
    border-radius: $list-filter-bar-radius;
    height: 100%;
    line-height: rem($list-filter-bar-top-height); // is the same as line-height of the bar
    //margin: rem(($list-filter-bar-padding / 2) 0);
    //padding: rem($padding-xs-vertical * 3 $padding-xs-horizontal);
    padding: rem($padding-small-vertical $padding-small-horizontal);

    &:hover,
    &:active,
    &:focus {
      color: $list-filter-bar-hover-color;
      background-color: $list-filter-bar-hover-bg;
      text-decoration: none;
    }
  }
}
