/**
 * Loader
 * --------------------------------------------------
 * To do: give the loader a decent fallback for IE9.
 * Check the comment signs at the end of the lines below.
 */

.loader {
  animation: spin .7s infinite linear, loader-color 2.8s infinite linear; //
  -webkit-backface-visibility: hidden;
  border: $loader-border-width solid;
  border-color: transparent $loader-color $loader-color $loader-color;
  border-radius: 50%;
  display: inline-block;
  height: rem(28);
  line-height: 0; //
  overflow: hidden; //
  position: relative;
  text-indent: -9999px; //
  transform: translateZ(0) scale(1.0, 1.0);
  width: rem(28);

  &-lg {
    @extend .loader;
    border-width: ($loader-border-width + 1px);
    height: rem(36);
    width: rem(36);
  }

  &-invert {
    @extend .loader;
    animation: none;
    animation: spin .7s infinite linear;
    border-color: transparent $white $white $white;
  }
}

// Set the loader inline and adjust the size to its adjacent content
span.loader,
span.loader-lg {
  height: 1em;
  line-height: 1em;
  top: .125em;
  width: 1em;
}

// Override for non-default buttons
button[type="submit"],
input[type="submit"],
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-transparent-invert {
  span.loader,
  span.loader-lg {
    @extend .loader-invert;
  }
}
