/**
 * Notification
 * --------------------------------------------------
 */

.notification {
    background: #fde073;
    left: 0;
    line-height: 2.5;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-align: center;
    top: 100px;
    width: 90%;
    z-index: 101;

}
