/**
 * Stick to top
 * --------------------------------------------------
 * Make some elements stick to the top of the viewport
 */


.is-sticky {
  overflow: auto;
  position: fixed;
  transform: translate(0, 0);
  width: 100%;
}
