/**
 * Timeline
 * --------------------------------------------------
 */

/**
 * Variables
 */
$timeline-padding: 20px;
$timeline-border-radius: $border-radius-base;
$timeline-line-color: $brand-light;
$timeline-label-color: $white;
$timeline-label-bgcolor: $brand-light;
$timeline-card-offset: 24px;
$timeline-date-color: $brand-light;
$timeline-date-bgcolor: $white;
$timeline-date-border: $brand-light;

/**
 * The timeline
 */

.timeline {
  padding: rem($timeline-padding);
  position: relative;

  @include mq($screen-sm) {
    text-align: center;
  }

  /**
   * The starting dot
   */
  &:before {
    background: $timeline-line-color;
    border-radius: 50%;
    content: '';
    display: block;
    height: rem(6);
    left: $timeline-padding;
    margin-left: rem(-2.5); // On non-retina screens, the dot doesn't have a correct position and needs this hack
    position: absolute;
    top: rem(-3);
    width: rem(6);

    @include mq($screen-sm) {
      left: calc(50% - 1px);
    }

    // On retina screens, the dot has a correct position
    @include retina {
      margin-left: rem(-2);
    }
  }

  /**
   * The main branch line
   */
  &:after {
    background: $timeline-line-color;
    bottom: 0;
    content: '';
    left: $timeline-padding;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: layer("cellar");

    @include mq($screen-sm) {
      left: calc(50% - 1px);
    }
  }

  /**
   * Each timeline can have multiple lists
   */
  &-list {
    @extend .list-unstyled;
    @include clearfix();
    position: relative;

    @include mq($screen-sm) {
      margin: rem(20 auto);
      text-align: left;
    }

    /**
     * Timeline items are actually cards
     */
    > li {
      @extend .card;
      margin: rem(20 0 20) $timeline-card-offset;
      position: relative;

      /**
       * Connection line to main branch
       */
      &:before {
        background: linear-gradient(to right, $timeline-line-color, $card-default-border);
        content: '';
        height: 1px;
        left: -($timeline-card-offset + 1px);
        position: absolute;
        // top: 20px;
        top: rem(10);
        // top: calc(50% - 6px);
        width: $timeline-card-offset;
      }

      @include mq($screen-sm) {
        width: calc(50% - #{$timeline-card-offset});

        /**
         * Left elements
         */
        &:nth-child(odd) {
          clear: both;
          margin: 0 $timeline-card-offset 0 0;

          &:before {
            background: linear-gradient(to right, $card-default-border, $timeline-line-color);
            left: auto;
            right: -($timeline-card-offset + 1px);
          }

          .timeline-date {
            right: calc(-100% - 2*#{$timeline-card-offset});

            time {
            }
          }
        }

        /**
         * Right elements
         */
        &:nth-child(even) {
          float: right;

          .timeline-date {
            left: calc(-100% - 2*#{$timeline-card-offset});

            &:before {
              background: linear-gradient(to right, $timeline-date-border, $timeline-line-color);
              left: auto;
              right: -($timeline-card-offset);
            }

            time {
              float: right;
            }
          }
        }
      }
    }
  }

  /**
   * Each timeline can have multiple labels
   */
  &-label {
    background-color: $timeline-label-bgcolor;
    border-radius: $timeline-border-radius;
    color: $timeline-label-color;
    display: inline-block;
    font-weight: 600;
    margin-top: rem(20);
    padding: rem(3 8);

    &:first-child {
      margin-top: 0;
    }

    @include mq($screen-sm, "max") {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    @include mq($screen-sm) {
      margin: rem(20 auto 0);
    }
  }

  /**
   * Each card can have a date
   */
  &-date {
    display: block;
    margin: rem(-10 0 -10 10);
    width: 100%;

    @include mq($screen-sm) {
      margin: rem(0);
      position: absolute;

      &:before {
        background: linear-gradient(to right, $timeline-line-color, $timeline-date-border);
        content: '';
        height: 1px;
        left: -($timeline-card-offset);
        position: absolute;
        top: rem(10);
        width: $timeline-card-offset;
      }
    }

    time {
      background-color: $timeline-date-bgcolor;
      border: 1px solid $timeline-date-border;
      border-radius: $timeline-border-radius;
      color: $timeline-date-color;
      font-size: rem(12);
      padding: rem(2 8);
    }
  }

  &.save-space {
    .timeline-list {
      > li {
        @include mq($screen-sm) {
          &:nth-child(odd) {
            float: left;

            .timeline-date {
              margin: rem(-10 0 -10 -10);

              time {
                float: right;
              }
            }
          }

          &:nth-child(even) {
            .timeline-date {
              margin: rem(-10 0 -10 10);

              time {
                float: left;
              }
            }
          }
        }
      }
    }

    .timeline-date {
      @include clearfix();
      position: static;

      &:before {
        content: none;
      }
    }
  }
}