/**
 * Timeline
 * --------------------------------------------------
 */

/**
 * Variables
 */
$timeline-padding: 20px;
$timeline-border-radius: $border-radius-base;
$timeline-line-color: $brand-light;
$timeline-label-color: $white;
$timeline-label-bgcolor: $brand-light;
$timeline-card-offset: 24px;
$timeline-date-color: $text-color;
$timeline-date-bgcolor: $gray-lighter;

/**
 * The timeline
 */

.timeline {
  padding: rem($timeline-padding);
  position: relative;

  @include mq($screen-sm) {
    text-align: center;
  }

  /**
   * The starting dot
   */
  &:before {
    background: $timeline-line-color;
    border-radius: 50%;
    content: '';
    display: block;
    height: rem(6);
    left: $timeline-padding;
    margin-left: rem(-2);
    position: absolute;
    top: rem(-3);
    width: rem(6);

    @include mq($screen-sm) {
      left: calc(50% - 1px);
    }
  }

  /**
   * The main branch line
   */
  &:after {
    background: $timeline-line-color;
    bottom: 0;
    content: '';
    left: $timeline-padding;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: layer("cellar");

    @include mq($screen-sm) {
      left: calc(50% - 1px);
    }
  }

  /**
   * Each timeline can have multiple lists
   */
  &-list {
    @extend .list-unstyled;
    @include clearfix();
    position: relative;

    @include mq($screen-sm) {
      margin: rem(20 auto);
      text-align: left;
    }

    /**
     * Timeline items are actually cards
     */
    > li {
      @extend .panel;
      margin: rem(20 0 20) $timeline-card-offset;
      position: relative;

      /**
       * Connection line to main branch
       */
      &:before {
        background: linear-gradient(to right, $timeline-line-color, $panel-default-border);
        content: '';
        height: 1px;
        left: -($timeline-card-offset + 1px);
        position: absolute;
        // top: 20px;
        top: rem(10);
        // top: calc(50% - 6px);
        width: $timeline-card-offset;
      }

      @include mq($screen-sm) {
        width: calc(50% - #{$timeline-card-offset});

        /**
         * Left elements
         */
        &:nth-child(odd) {
          clear: both;
          float: left;
          margin: 0 $timeline-card-offset 0 0;

          &:before {
            background: linear-gradient(to right, $panel-default-border, $timeline-line-color);
            left: auto;
            right: -($timeline-card-offset + 1px);
          }

          .timeline-date {
            time {
              float: right;
              border-top-left-radius: 0;
              border-bottom-right-radius: 0;
              border-top-right-radius: ($timeline-border-radius - 1.5px); // Fix faulty behaviour in Webkit
              border-bottom-left-radius: $timeline-border-radius;
            }
          }
        }

        /**
         * Right elements
         */
        &:nth-child(even) {
          float: right;
        }
      }
    }
  }

  /**
   * Each timeline can have multiple labels
   */
  &-label {
    background-color: $timeline-label-bgcolor;
    border-radius: $timeline-border-radius;
    color: $timeline-label-color;
    display: inline-block;
    font-weight: 600;
    margin-top: rem(20);
    padding: rem(3 8);

    &:first-child {
      margin-top: 0;
    }

    @include mq($screen-sm, "max") {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    @include mq($screen-sm) {
      margin: rem(20 auto 0);
    }
  }

  /**
   * Each card can have a date
   */
  &-date {
    @include clearfix();
    margin-bottom: rem(-12);

    time {
      background-color: $timeline-date-bgcolor;
      border-top-left-radius: ($timeline-border-radius - 1.5px); // Fix faulty behaviour in Webkit
      border-bottom-right-radius: $timeline-border-radius;
      color: $timeline-date-color;
      display: inline-block;
      float: left;
      font-size: rem(12);
      padding: rem(2 8);
    }
  }
}
