
/* Vertical timeline */

/* The timeline container */
// the container should be a list.
.vertical-timeline {
  @extend .list-unstyled;
  //margin: 0;
  //padding: rem(20) 0;
  position: relative;

/* The vertical line */
  &:before {
    background: $tink-teal;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 4px;

    @include mq($screen-sm) {
      left: 50%;
      margin-left: -2px; // center the line
    }
  }

/* The timeslot */
  > li {
    margin-top: rem(30); // to create some space for the datefield
    position: relative;
    // on bigger screens set the max-width of the timeslot to 50% and set every 2nd one on the right side
    @include mq($screen-sm) {
      max-width: calc(50% - 22px);

      &:nth-child(even) {
        left: calc(50% + 22px);
      }
    }

/* The date/time */
    .timeline-date {
      background-color: $tink-green;
      border-radius: $border-radius-base;
      color: $white;
      display: block;
      left: rem(10);
      padding: rem(5);
      position: absolute;
      top: rem(-20);
      z-index: layer('pseudo');
    }

/* The info-card */
    .card {
    // set the card next to the vertical line and create little vertical space between the cards
      margin: rem(1) 0 0 4px;

      @include mq($screen-sm) {
      // on bigger screens remove the left-margin
        margin: rem(1) 0 0 0;
      }
    }
  }
}

  /* The point in the timeslot */
  // &:before {
  //   background: $tink-teal;
  //   border-radius: 50%;
  //   content: '';
  //   height: 8px;
  //   margin-left: rem(7.5);
  //   position: absolute;
  //   top: rem(18.5);
  //   width: 8px;
  //   z-index: layer('pseudo');

  //   @include mq($screen-sm) {
  //     left: 50%;
  //   }

/* The small horizontal bar */
  // &:after {
  //   background: $tink-teal;
  //   content: '';
  //   height: 4px;
  //   position: absolute;
  //   top: rem(20);
  //   width: 20px;
  //   z-index: layer('pseudo');

  //   @include mq($screen-sm) {
  //     right: calc(50% - 12px);
  //   }
  // }







