/**
 * Bar component
 */
@mixin bar($height: $bar-height, $bg-color: $bar-bg-color, $color: $bar-color, $link-color: $bar-link-color, $link-hover-color: $bar-link-hover-color, $link-bg-hover-color: $bar-link-bg-hover-color, $padding: $bar-padding) {
  @include clearfix();
  background-color: $bg-color;
  color: $color;
  line-height: rem($height);
  position: relative;

  a.btn,
  a.btn-primary,
  button,
  input {
    margin-top: rem(-3);
  }

  .link {
    color: $link-color;
    border-radius: $border-radius-base;
    height: 100%;
    line-height: rem($height);
    margin: rem(($padding / 2) 0);
    padding: rem($padding-xs-vertical * 3 $padding-xs-horizontal);

    &:hover,
    &:active,
    &:focus {
      color: $link-hover-color;
      background-color: $link-bg-hover-color;
      text-decoration: none;
    }
  }

  &-branding,
  &-section-left,
  &-section-center,
  &-section-right {
    @extend .list-inline;
    height: 100%;
    line-height: rem($height);
    margin: 0;

    > li {
      height: 100%;
      line-height: rem($height);
      margin: 0;
      padding: rem(0 ($padding / 2));
      user-select: none;

      &:first-child:not([class*="bar-item"]) {
        padding-left: 0;
      }

      &:last-child:not([class*="bar-item"]) {
        padding-right: 0;
      }

      .link {
        color: $link-color;
      }
    }

    input[type="search"] {
      float: left;
      margin-bottom: rem(-12);
      width: auto;

      &:focus {
        @include tab-focus();
      }
    }
  }

  &-section {
    height: 100%;
    line-height: rem($height);
    position: relative;
    text-align: center;
    width: auto;

    &-left {
      height: 100%;
      float: left;
      text-align: left;
    }

    &-center {
      display: inline-block;
      // height: rem($height);
    }

    &-right {
      height: 100%;
      float: right;
      text-align: left;
    }
  }

  .main-actions {

  }

  .sub-actions {
    margin-left: rem(4);
    padding-left: rem(4);
    //position: relative; (messes up the popovers)

    // Create a vertical rule between the sub- and the main-actions.
    // The horizontal rule is restyled to be vertical.
    .set-hr-vertical {
      position: relative;
      hr {
        border-left: 1px solid $hr-border;
        border-top: 0;
        display: inline-block;
        height: rem(30);
        left: -7px;
        margin: 0;
        position: absolute;
        top: rem(10);
        width: 1px;
      }
    }

    // Separate last list item
    > li:last-of-type  {
      margin-left: rem(20);
      margin-right: 0;
    }

  }

  .popover {
    ul {
      @extend .list-unstyled;
      > hr {
        border-top-color: $hr-border;
        margin: rem($line-height-computed / 4) 0;
      }

      li {
        padding: rem(5);
      }

      li:hover:not([disabled]) {
        background-color: $gray-lighter;
        cursor: pointer;
        transition: background-color linear $animation-speed;
      }
    }
  }

  /**
  * Bar menu items styled on breakpoints
  */
  // just adding this extra class to the following @extend rules enlarges the Tink-Core from 264KB to 428KB
  // needs to be checked why this happens and how to refactor
  .bar-item-md,
  .bar-item-sm {
    @extend .btn;
    margin-right: rem(3);

    &.disabled,
    &[disabled] {
      background-color: $gray-lighter;
    }

  }

  .bar-item-md {
  }

  .bar-item-sm {
    width: rem(45);
  }

  .bar-item-xs {
    &.disabled,
    &[disabled] {
      color: $gray-light;
      cursor: default;
    }
  }
}
