<ul class="popover-list-buttons">
  <li>
    <div class="checkbox">
      <input type="checkbox" id="Knipperlicht" name="Knipperlicht" value="Knipperlicht" checked=""> <label for="Knipperlicht"><span class="">AL 12</span></label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <input type="checkbox" id="Knipperlicht" name="Knipperlicht" value="Knipperlicht" checked=""> <label for="Knipperlicht"><span class="">AL 18</span></label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <input type="checkbox" id="Knipperlicht" name="Knipperlicht" value="Knipperlicht" checked=""> <label for="Knipperlicht"><span class="">AP 03</span></label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <input type="checkbox" id="Knipperlicht" name="Knipperlicht" value="Knipperlicht" checked=""> <label for="Knipperlicht"><span class="">VP 32</span></label>
    </div>
  </li>
</ul>
