<div class="container">
  <div class="row margin-top">
    <div class="col-xs-12">

     <!-- LIST FILTER BAR EXAMPLE -->

      <h4 class="text-center tink-bg-gray-lightest margin-top margin-bottom">LIST FILTER BAR EXAMPLE</h4>

      <div class="margin-top">
        <div class="list-filter-bar">
          <ul class="bar-section-left">
            <li class="can-open" style="position: relative;">
              <a class="filter-toggle" href ng-click="referentieNr = !referentieNr" id="" accesskey="" title="Referentienummer">Referentienummer: <span>alle</span> <i class="fa fa-caret-down"></i></a>
            </li>
             <!-- POPOVER MENU -->
              <div class="popover" ng-show="referentieNr" style="position: absolute; visibility: visible; top: 70px; left: 0px;">
                <div class="form-group">
                  <input type="text" id="input-text" placeholder="Geef referentienummer in...">
                  <a href=""><span>Een reeks ingeven</span></a>
                </div>
              </div>
             <!-- END POPOVER MENU -->
            <li class="can-open" style="position: relative;">
              <a class="filter-toggle" href ng-click="type = !type" id="" accesskey="" title="Type">Type: <span>alle</span> <i class="fa fa-caret-down"></i></a>
             <!-- POPOVER MENU -->
              <div class="popover" ng-show="type" style="position: absolute; visibility: visible; top: 70px; left: 0px;">
              <div class="form-group">
                <div class="radio">
                  <input type="radio" id="radio1" name="radio1" value="" checked="">
                  <label for="radio1">Aangegeven</label>
                </div>
                <div class="radio">
                  <input type="radio" id="radio2" name="radio1" value="">
                  <label for="radio2">Vastgesteld</label>
                </div>
              </div>
              </div>
             <!-- END POPOVER MENU -->
            </li>
            <li class="can-open" style="position: relative;">
              <a class="filter-toggle" href ng-click="kazerne = !kazerne" id="" accesskey="" title="Kazerne">Kazerne: <span>alle</span> <i class="fa fa-caret-down"></i></a>
             <!-- POPOVER MENU -->
              <div class="popover" ng-show="kazerne" style="position: absolute; visibility: visible; top: 70px; left: 0px;">
                <div>
                  <ul class="popover-list-buttons">
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Voornaam" name="Voornaam" value="Voornaam" checked=""> <label for="Voornaam"><span class="">Voornaam</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Achternaam" name="Achternaam" value="Achternaam" checked=""> <label for="Achternaam"><span class="">Achternaam</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Gebruikersnaam" name="Gebruikersnaam" value="Gebruikersnaam" checked=""> <label for="Gebruikersnaam"><span class="">Gebruikersnaam</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
             <!-- END POPOVER MENU -->
            </li>
            <li class="can-open" style="position: relative;">
              <a class="filter-toggle" href ng-click="ploeg = !ploeg" id="" accesskey="" title="Ploeg" disabled="disabled">Ploeg: <span>alle</span> <i class="fa fa-caret-down"></i></a>
             <!-- POPOVER MENU -->
              <div class="popover" ng-show="ploeg" style="position: absolute; visibility: visible; top: 70px; left: 0px;">
                <div>
                  <ul class="popover-list-buttons">
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Voornaam" name="Voornaam" value="Voornaam" checked=""> <label for="Voornaam"><span class="">Voornaam</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Achternaam" name="Achternaam" value="Achternaam" checked=""> <label for="Achternaam"><span class="">Achternaam</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Gebruikersnaam" name="Gebruikersnaam" value="Gebruikersnaam" checked=""> <label for="Gebruikersnaam"><span class="">Gebruikersnaam</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
             <!-- END POPOVER MENU -->
            </li>
            <li class="can-open" style="position: relative;">
              <a class="filter-toggle" href ng-click="datum = !datum" id="" accesskey="" title="Datum">Datum: <span>alle</span> <i class="fa fa-caret-down"></i></a>
             <!-- POPOVER MENU -->
              <div class="popover" ng-show="datum" style="position: absolute; visibility: visible; top: 70px; left: 0px;">
                <div>
                  <ul class="popover-list-buttons">
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Voornaam" name="Voornaam" value="Voornaam" checked=""> <label for="Voornaam"><span class="">Voornaam</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Achternaam" name="Achternaam" value="Achternaam" checked=""> <label for="Achternaam"><span class="">Achternaam</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Gebruikersnaam" name="Gebruikersnaam" value="Gebruikersnaam" checked=""> <label for="Gebruikersnaam"><span class="">Gebruikersnaam</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
             <!-- END POPOVER MENU -->
            </li>
            <li class="can-open" style="position: relative;">
              <a class="filter-toggle" href ng-click="status = !status" id="" accesskey="" title="Status">Status: <span>alle</span> <i class="fa fa-caret-down"></i></a>
             <!-- POPOVER MENU -->
              <div class="popover" ng-show="status" style="position: absolute; visibility: visible; top: 70px; left: 0px;">
                <div>
                  <ul class="popover-list-buttons">
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Nieuw" name="Nieuw" value="Nieuw" checked=""> <label for="Nieuw"><span class="">Nieuw</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Aan-te-vullen" name="Aan-te-vullen" value="Aan-te-vullen" checked=""> <label for="Aan-te-vullen"><span class="">Aan te vullen</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" id="Goed-te-keuren" name="Goed-te-keuren" value="Goed-te-keuren" checked=""> <label for="Goed-te-keuren"><span class="">Goed te keuren</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
             <!-- END POPOVER MENU -->
            </li>
            <li class="can-open" style="position: relative;">
              <a class="filter-toggle" href ng-click="locatie = !locatie" id="" accesskey="" title="Locatie">Locatie: <span>alle</span> <i class="fa fa-caret-down"></i></a>
             <!-- POPOVER MENU -->
              <div class="popover" ng-show="locatie" style="position: absolute; visibility: visible; top: 70px; left: 0px;">
                <div>
                  <ul class="popover-list-buttons">
                    <li>
                      <a href=""><span>List Item 1</span></a>
                    </li>
                    <li>
                      <a href=""><span>List Item 2</span></a>
                    </li>
                    <li>
                      <a href=""><span>List Item 3</span></a>
                    </li>
                  </ul>
                </div>
              </div>
             <!-- END POPOVER MENU -->
            </li>
          </ul>
          <ul class="bar-section-right">
            <li>
              <div class="form-group">
                <input type="search" id="input-search" placeholder="Dossiernummer of naam klant...">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- END LIST FILTER BAR EXAMPLE -->


              <div class="checkbox">
                <input type="checkbox" id="Knipperlicht" name="Knipperlicht" value="Knipperlicht" checked=""> <label for="Knipperlicht"><span class="">Enkel dossiers met knipperlicht</span></label>
              </div>


  <!-- TABLE EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Jasper</td>
            <td>Van Proeyen</td>
            <td>@trianglejuice</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Tom</td>
            <td>Wuyts</td>
            <td>@pxlpanic</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Kevin</td>
            <td>De Mulder</td>
            <td>@clopin</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>


<div class="container margin-top">
  <div class="row margin-top">
    <div class="col-xs-12">

  <!-- POPOVER EXAMPLE -->
      <div class="popover" style="visibility: visible; position: absolute; top: 0px; left:350px;">
      <ul class="popover-list-buttons">
        <li>
          <a href=""><span>List Item 1</span></a>
        </li>
        <li>
          <a href=""><span>List Item 2</span></a>
        </li>
        <li>
          <a href=""><span>List Item 3</span></a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>

<!-- ACCORDION EXAMPLE -->

<div class="container margin-top" data-ng-controller="ctrl">
  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">

      <tink-accordion data-start-open="false" data-one-at-a-time="true">
        <tink-accordion-panel data-is-collapsed="true" data-onclick="openAccordion">
          <data-header>
            First accordion panel
          </data-header>
          <data-content>
            <p>This paragraph creates more vertical padding.</p>
            This accordion panel consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
          </data-content>
        </tink-accordion-panel>
        <tink-accordion-panel data-is-collapsed="true" data-heading="Second accordion panel">
          <data-header>
            Second accordion panel
          </data-header>
          <data-content>
            <p>This is a paragraph, hence the more spacing.</p>
          </data-content>
        </tink-accordion-panel>
        <tink-accordion-panel data-is-collapsed="true">
          <data-header>
            Third accordion panel
          </data-header>
          <data-content>
            <button>text</button>
          </data-content>
        </tink-accordion-panel>
      </tink-accordion>

    </div>
  </div>
<div>

<!-- ACCORDION IN LIST EXAMPLE -->

<div class="container margin-top" data-ng-controller="ctrl">
  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">

      <ul class="list-unstyled">
        <tink-accordion data-start-open="false" data-one-at-a-time="true">
          <li class="margin-top">
            <tink-accordion-panel data-is-collapsed="true" >
              <data-header>
                First accordion panel
              </data-header>
              <data-content>
                <p>This praragraph creates more vertical padding.</p>
                This accordion panel consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
              </data-content>
            </tink-accordion-panel></li>
          <li class="margin-top">
            <tink-accordion-panel data-is-collapsed="true" data-heading="Second accordion panel">
              <data-header>
                Second accordion panel
              </data-header>
              <data-content>
                <p>This is a paragraph, hence the more spacing.</p>
              </data-content>
            </tink-accordion-panel>
          </li>
          <li class="margin-top">
            <tink-accordion-panel data-is-collapsed="true">
              <data-header>
                Third accordion panel
              </data-header>
              <data-content>
                <button>text</button>
              </data-content>
            </tink-accordion-panel>
          </li>
        </tink-accordion>
      </ul>

    </div>
  </div>
<div>

<!-- FORM EXAMPLE -->

<div class="container margin-top">
  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div class="row margin-bottom">
        <div class="form-group">
          <div class="col-xs-8 margin-top">
            <input type="text" />
          </div>
          <div class="col-xs-4">
            <button>Verzenden</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" style="width: 200px;float:left;margin-right:5px" /> <button class="btn-primary">Verzenden</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- BASIC PANEL EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="panel">
        <header class="panel-heading">
          <span class="panel-title h3">Basic panel</span>
        </header>
        <div class="panel-body">
          1st panel body content that consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
        </div>
        <div class="panel-body">
          2nd panel body content
        </div>
        <div class="panel-body">
          3rd panel body content
        </div>
      </section>
    </div>
  </div>

<!-- PANEL WITH BADGE AND FORM EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="panel">
        <header class="panel-heading">
          <span class="badge">13</span></a><span class="panel-title h3">Basic panel</span><span class="badge">13</span></a>
        </header>
        <div class="panel-body">
          <div class="form-group">
            <label>Radio buttons</label>
            <div class="radio">
              <input type="radio" id="radio1" name="radio1" value="" checked="">
              <label for="radio1">Option one</label>
            </div>
            <div class="radio">
              <input type="radio" id="radio2" name="radio1" value="">
              <label for="radio2">Option two is a very long option, so we can see its behaviour when too much text is used for the label.</label>
            </div>
            <div class="radio">
              <input type="radio" id="radio3" name="radio1" value="" disabled="">
              <label for="radio3">Option three is disabled</label>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

<!-- PANEL WITHOUT HEADING EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="panel">
        <div class="panel-body">
          Panel body without a heading. The bar is a responsive component that is able to serve a variety of navigation elements, links, buttons, search boxes and whiskey. Ok, maybe not whiskey.
        </div>
      </section>
    </div>
  </div>

<!-- PANEL WITH FOOTER EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="panel">
        <div class="panel-body">
          <p>Some content for the panels</p>
          Using navs for tab panels requires JavaScript tabs plugin
          For tabs with tabbable areas, you must use the tabs JavaScript plugin. The markup will also require additional role and ARIA attributes – see the plugin's example markup for further details.
        </div>
        <footer class="panel-footer">Panel footer content to add to the main panel content</footer>
      </section>
    </div>
  </div>

<!-- PANEL WITH ICON EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="panel">
        <header class="panel-heading">
          <i class="fa fa-download"></i><span class="panel-title h3">Panel title</span>
        </header>
        <div class="panel-body has-no-padding">
          <p>Panel body without padding</p>
        </div>
      </section>
    </div>
  </div>


<!-- RESPONSIVE TABLE EXAMPLE -->

  <div class="row margin-bottom margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div class="table-force-responsive">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Label</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Street + Nr</th>
              <th>Postal Code + City</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><div class="label">label 1</div></td>
              <td>Jasper</td>
              <td>Van Proeyen</td>
              <td>@trianglejuice</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>2</td>
              <td><div class="label-primary">label 2</div></td>
              <td>Tom</td>
              <td>Wuyts</td>
              <td>@pxlpanic</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>3</td>
              <td><div class="label-success">label 3</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>4</td>
              <td><div class="label-info">label 4</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>5</td>
              <td><div class="label-warning">label 5</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>6</td>
              <td><div class="label-danger">label 6</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" data-ng-controller="interactiveTableController">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div>
      <tink-interactive-table ng-model="data" data-tink-allow-column-reorder="true" data-tink-headers="headers" data-tink-actions="actions" data-tink-items-per-page="pages" data-tink-force-responsive="true"></tink-interactive-table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div class="form-group">
        <div class="select">
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="input-text">Your name</label>
        <input type="text" id="input-text" placeholder="First and last name">
        <span class="help-block">You can write your name, right?</span>
      </div>
      <ul class="list-inline text-center">
        <li><p><button class="btn-sm btn-success">Woohoo</button></p></li>
        <li><p><button class="btn-sm btn-warning">O-ow</button></p></li>
        <li><p><button class="btn-sm btn-danger">Holy $%!†</button></p></li>
        <li><p><button class="btn-sm btn-info">Tell me…</button></p></li>
      </ul>
    </div>
  </div>
</div>
