<div class="container">
  <div class="row">
    <div class="col-xs-12 margin-top">
      <tink-datepicker-range data-first-date="firstSelectedDate" data-last-date="lastSelectedDate"></tink-datepicker-range>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 margin-top">
<data-tink-datepicker data-max-date="maxdate" data-ng-model="selectedDate3"></data-tink-datepicker>
    </div>
  </div>
</div>

<h4 class="text-center tink-bg-gray-lightest margin-top margin-bottom">FORM INLINE</h4>

<div class="container">
  <div class="row">
    <div class="col-xs-12 margin-top">
      <form class="form-force-inline">
        <div class="form-group">
          <label for="first-inline-input">First inline-input</label>
          <input type="text" id="first-inline-input" placeholder="First-inline-input">
        </div>
        <div class="form-group">
          <label for="input-text">2nd inline-input</label>
          <input type="text" id="2nd-inline-input" placeholder="2nd-inline-input">
        </div>
        <div class="form-group">
          <label for="input-text">3rd-inline-input</label>
          <input type="text" id="3rd-inline-input" placeholder="3rd-inline-input">
        </div>
        <div class="form-group">
          <label for="select">Select</label>
          <div class="select">
            <select id="select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <input type="radio" id="radio1" name="radio1" value="" checked="">
            <label for="radio1">Option one</label>
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <input type="radio" id="radio2" name="radio1" value="">
            <label for="radio2">Option two </label>
          </div>
          <div class="radio">
            <input type="radio" id="radio3" name="radio1" value="" disabled="">
            <label for="radio3">Option three is disabled</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="checkbox1" name="checkbox1" value="" checked="">
            <label for="checkbox1">Option one</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="checkbox2" name="checkbox2" value="">
            <label for="checkbox2">Option two</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="checkbox3" name="checkbox3" value="" disabled="">
            <label for="checkbox3">Option three is disabled</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h4 class="text-center tink-bg-gray-lightest margin-top margin-bottom">CLASSIC FORM WITH INLINE ELEMENTS</h4>

<div class="container">
  <form class="form-inline">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="first-inline-input">First inline-input</label>
          <input type="text" id="first-inline-input" placeholder="First-inline-input">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="input-text">2nd inline-input</label>
          <input type="text" id="2nd-inline-input" placeholder="2nd-inline-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="input-text">3rd-inline-input</label>
          <input type="text" id="3rd-inline-input" placeholder="3rd-inline-input">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="input-text">4th-inline-input</label>
          <input type="text" id="4th-inline-input" placeholder="4th-inline-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="select">Select</label>
          <div class="select">
            <select id="select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <div class="radio">
            <input type="radio" id="radio1" name="radio1" value="" checked="">
            <label for="radio1">Option one</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<h4 class="text-center tink-bg-gray-lightest margin-top margin-bottom">TINK HORIZONTAL FORM</h4>

<div class="container">
  <form class="form-horizontal">
    <div class="row margin-bottom">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <label for="input-text">Text input</label>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <input type="text" id="textinput" placeholder="textinput">
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="select">Select</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="select">
              <select id="select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
        </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <input type="checkbox" id="checkbox3" name="rememberme" value="">
          <label for="rememberme">Remember me</label>
        </div>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-sm-offset-2 col-sm-10">
          <div class="radio">
            <input type="radio" id="radio2" name="radio2" value="" checked="">
            <label for="radio2">Option one</label>
          </div>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>


<!-- LIST FILTER BAR EXAMPLE -->
<h4 class="text-center tink-bg-gray-lightest margin-top margin-bottom">LIST FILTER BAR EXAMPLE</h4>


<div class="container margin-top">
  <div class="filter-bar">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-sm-push-9">
        <input class="filter-bar-item" type="search" id="input-search" placeholder="Dossiernummer of naam klant…">
      </div>
      <div class="col-xs-12 col-sm-9 col-sm-pull-3">
        <div class="bar">
          <ul>
            <li>
              <a class="filter-bar-item" href="javascript:" data-tink-popover="" data-tink-arrow="false" tink-popover-place="bottom" tink-popover-align="left" tink-popover-template="templates/popover-template.html" title="Referentienummer">Referentienummer: <span>alle</span> <i class="fa fa-caret-down"></i></a>
            </li>
            <li>
              <a class="filter-bar-item" href="javascript:" data-tink-popover="" data-tink-arrow="false" tink-popover-place="bottom" tink-popover-align="left" tink-popover-template="templates/popover-template.html" title="Type">Type: <span>alle</span> <i class="fa fa-caret-down"></i></a>
            </li>
            <li>
              <a class="filter-bar-item" href="javascript:"  data-tink-popover="" data-tink-arrow="false" tink-popover-place="bottom" tink-popover-align="left" tink-popover-template="templates/popover-template.html"  title="Kazerne">Kazerne: <span>alle</span> <i class="fa fa-caret-down"></i></a>
            </li>
            <li>
              <a class="filter-bar-item" href="javascript:"  data-tink-popover="" data-tink-arrow="false" tink-popover-place="bottom" tink-popover-align="left" tink-popover-template="templates/popover-template.html"  title="Ploeg" disabled="disabled" tabindex="-1">Ploeg: <span>alle</span> <i class="fa fa-caret-down"></i></a>
            </li>
            <li>
              <a class="filter-bar-item" href="javascript:"  data-tink-popover="" data-tink-arrow="false" tink-popover-place="bottom" tink-popover-align="left" tink-popover-template="templates/popover-template.html"  title="Datum">Datum: <span>alle</span> <i class="fa fa-caret-down"></i></a>
            </li>
            <li>
              <a class="filter-bar-item" href="javascript:"  data-tink-popover="" data-tink-arrow="false" tink-popover-place="bottom" tink-popover-align="left" tink-popover-template="templates/popover-template.html"  title="Status">Status: <span>alle</span> <i class="fa fa-caret-down"></i></a>
            </li>
            <li>
              <a class="filter-bar-item-link" href="javascript:">Meer filters</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="filter-bar-link-external" href="javascript:">Meer filters</a>
    </div>
  </div>
</div>


<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12 margin-top">
      <div class="timeline">
        <div class="timeline-label">2016</div>
        <ul class="timeline-list">
          <li>
            <div class="timeline-date">
              <time datetime="2016-01-08">08/01/2016</time>
            </div>
            <div class="card-heading">
              <h4 class="card-title">Indeed it is</h4>
            </div>
            <div class="card-body">
              Our predictions were right. For now the year is still great!
            </div>
          </li>
          <li>
            <div class="timeline-date">
              <time datetime="2016-01-01">01/01/2016</time>
            </div>
            <div class="card-heading">
              <h4 class="card-title">Some important update</h4>
            </div>
            <div class="card-body">
              We are happy to announce that this year will be a great year for some reason.
            </div>
          </li>
        </ul>
        <div class="timeline-label">2015</div>
        <ul class="timeline-list">
          <li>
            <div class="card-heading">
              <h4 class="card-title">Date is optional</h4>
            </div>
            <div class="card-body">
              Some items just don't need a specific date.
            </div>
          </li>
          <li>
            <div class="card-body">
              And apparently the heading is also optional :-)
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container margin-top">
  <div class="row margin-top">
    <div class="col-xs-12 text-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn">Left</button>
        <button type="button" class="btn">Middle</button>
        <button type="button" class="btn">Right</button>
      </div>
      <div class="btn-group btn-group-xs" role="group" aria-label="Basic example">
        <button type="button" class="btn">Left</button>
        <button type="button" class="btn">Middle</button>
        <button type="button" class="btn">Right</button>
      </div>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn">Left</button>
        <button type="button" class="btn">Middle</button>
        <button type="button" class="btn">Right</button>
      </div>
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn">Left</button>
        <button type="button" class="btn">Middle</button>
        <button type="button" class="btn">Right</button>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="row margin-top">
    <div class="col-xs-12 text-center">
      <h3>Basic loader</h3>
      <div class="loader">Aan het laden…</div>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-xs-12 text-center">
      <h3>Large loader</h3>
      <div class="loader loader-lg">Aan het laden…</div>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-xs-12 text-center">
      <h3>Inline loader</h3>
      <p>This loader is inline with me <span class="loader">Aan het laden…</span></p>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-xs-12 text-center">
      <button>Inloggen</button>  <button>Inloggen <span class="loader">Aan het laden…</span></button>
    </div>
    <div class="col-xs-12 margin-top text-center">
      <button class="btn-lg">Inloggen</button>  <button class="btn-lg">Inloggen <span class="loader">Aan het laden…</span></button>
    </div>
    <div class="col-xs-12 margin-top text-center">
      <button class="btn-sm">Inloggen</button>  <button class="btn-sm">Inloggen <span class="loader">Aan het laden…</span></button>
    </div>
  </div>
</div>

<!-- <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> -->




<div class="container margin-top" data-ng-controller="modalController">
  <div class="row margin-top">
    <div class="col-xs-12 col-md-4">
      <button ng-click="openModal()">Open the modal dialog</button>
    </div>
    <div class="col-xs-12 col-md-8">
      <data-tink-datepicker data-ng-model="selectedDate1" data-aligns-right="true"></data-tink-datepicker>
    </div>
  </div>
</div>



<!-- ACCORDION EXAMPLE -->

<div class="container margin-top">
  <div class="row margin-top">
    <div class="col-xs-12 col-md-4">

      <tink-accordion data-start-open="false" data-one-at-a-time="true">
        <tink-accordion-panel data-is-collapsed="true" data-onclick="openAccordion">
          <data-header>
            First accordion panel
          </data-header>
          <data-content>
            <p>This paragraph creates more vertical padding.</p>
            This accordion panel consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
          </data-content>
        </tink-accordion-panel>
        <tink-accordion-panel data-is-collapsed="true" data-heading="Second accordion panel">
          <data-header>
            Second accordion panel
          </data-header>
          <data-content>
            <p>This is a paragraph, hence the more spacing.</p>
          </data-content>
        </tink-accordion-panel>
        <tink-accordion-panel data-is-collapsed="true">
          <data-header>
            Third accordion panel
          </data-header>
          <data-content>
            <button>text</button>
          </data-content>
        </tink-accordion-panel>
      </tink-accordion>

    </div>


    <div class="col-xs-12 col-md-4">
      <section class="panel">
        <header class="panel-heading">
          <span class="panel-title h3">Basic panel</span>
        </header>
        <div class="panel-body">
          1st panel body content that consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
        </div>
        <div class="panel-body">
          2nd panel body content
        </div>
        <div class="panel-body">
          3rd panel body content
        </div>
      </section>
    </div>


    <div class="col-xs-12 col-md-4">
      <section class="card">
        <header class="card-heading">
          <span class="card-title h3">Basic card</span>
        </header>
        <div class="card-body">
          1st card body content that consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
        </div>
        <div class="card-body">
          2nd card body content
        </div>
        <div class="card-body">
          3rd card body content
        </div>
      </section>
    </div>
  </div>
<div>

<!-- ACCORDION IN LIST EXAMPLE -->

<div class="container margin-top" data-ng-controller="ctrl">
  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">

      <ul class="list-unstyled">
        <tink-accordion data-start-open="false" data-one-at-a-time="true">
          <li class="margin-top">
            <tink-accordion-panel data-is-collapsed="true" >
              <data-header>
                First accordion panel
              </data-header>
              <data-content>
                <p>This praragraph creates more vertical padding.</p>
                This accordion panel consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
              </data-content>
            </tink-accordion-panel></li>
          <li class="margin-top">
            <tink-accordion-panel data-is-collapsed="true" data-heading="Second accordion panel">
              <data-header>
                Second accordion panel
              </data-header>
              <data-content>
                <p>This is a paragraph, hence the more spacing.</p>
              </data-content>
            </tink-accordion-panel>
          </li>
          <li class="margin-top">
            <tink-accordion-panel data-is-collapsed="true">
              <data-header>
                Third accordion panel
              </data-header>
              <data-content>
                <button>text</button>
              </data-content>
            </tink-accordion-panel>
          </li>
        </tink-accordion>
      </ul>

    </div>
  </div>
<div>

<!-- FORM EXAMPLE -->

<div class="container margin-top">
  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div class="row margin-bottom">
        <div class="form-group">
          <div class="col-xs-8 margin-top">
            <input type="text" />
          </div>
          <div class="col-xs-4">
            <button>Verzenden</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" style="width: 200px;float:left;margin-right:5px" /> <button class="btn-primary">Verzenden</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- BASIC PANEL EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="card">
        <header class="card-heading">
          <span class="card-title h3">Basic panel</span>
        </header>
        <div class="card-body">
          1st panel body content that consists of some text. This text is purely for your own pleasue and may not be reproduced in any form or matter. So please take notice of this and screw me. If u care to do so, u can always drop me a line, asking me for my permission to redistribute this content.
        </div>
        <div class="card-body">
          2nd panel body content
        </div>
        <div class="card-body">
          3rd panel body content
        </div>
      </section>
    </div>
  </div>

<!-- PANEL WITH BADGE AND FORM EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="card">
        <header class="card-heading">
          <span class="badge">13</span></a><span class="card-title h3">Basic panel</span><span class="badge">13</span></a>
        </header>
        <div class="card-body">
          <div class="form-group">
            <label>Radio buttons</label>
            <div class="radio">
              <input type="radio" id="radio1" name="radio1" value="" checked="">
              <label for="radio1">Option one</label>
            </div>
            <div class="radio">
              <input type="radio" id="radio2" name="radio1" value="">
              <label for="radio2">Option two is a very long option, so we can see its behaviour when too much text is used for the label.</label>
            </div>
            <div class="radio">
              <input type="radio" id="radio3" name="radio1" value="" disabled="">
              <label for="radio3">Option three is disabled</label>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

<!-- PANEL WITHOUT HEADING EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="card">
        <div class="card-body">
          Panel body without a heading. The bar is a responsive component that is able to serve a variety of navigation elements, links, buttons, search boxes and whiskey. Ok, maybe not whiskey.
        </div>
      </section>
    </div>
  </div>

<!-- PANEL WITH FOOTER EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="card">
        <div class="card-body">
          <p>Some content for the panels</p>
          Using navs for tab panels requires JavaScript tabs plugin
          For tabs with tabbable areas, you must use the tabs JavaScript plugin. The markup will also require additional role and ARIA attributes – see the plugin's example markup for further details.
        </div>
        <footer class="card-footer">Panel footer content to add to the main panel content</footer>
      </section>
    </div>
  </div>

<!-- PANEL WITH ICON EXAMPLE -->

  <div class="row margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <section class="card">
        <header class="card-heading">
          <i class="fa fa-download"></i><span class="card-title h3">Panel title</span>
        </header>
        <div class="card-body has-no-padding">
          <p>Panel body without padding</p>
        </div>
      </section>
    </div>
  </div>


<!-- RESPONSIVE TABLE EXAMPLE -->

  <div class="row margin-bottom margin-top">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div class="table-force-responsive">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Label</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Street + Nr</th>
              <th>Postal Code + City</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><div class="label">label 1</div></td>
              <td>Jasper</td>
              <td>Van Proeyen</td>
              <td>@trianglejuice</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>2</td>
              <td><div class="label-primary">label 2</div></td>
              <td>Tom</td>
              <td>Wuyts</td>
              <td>@pxlpanic</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>3</td>
              <td><div class="label-success">label 3</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>4</td>
              <td><div class="label-info">label 4</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>5</td>
              <td><div class="label-warning">label 5</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
            <tr>
              <td>6</td>
              <td><div class="label-danger">label 6</div></td>
              <td>Kevin</td>
              <td>De Mulder</td>
              <td>@clopin</td>
              <td>Kolonel Silvertoplaan 1</td>
              <td>2018 Antwerpen</td>
              <td>Belgium</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" data-ng-controller="interactiveTableController">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <tink-interactive-table class="table-interactive" tink-checked="boxChecked($data,$checked)" tink-loading="ct.loading" tink-headers="headers" tink-data="data.content" tink-actions="actions" tink-empty-message="Geen resultaten">
        <table tink-sort-table="data.content" tink-callback="sorted($property,$order,$type)" tink-asc="ctrl.asc" tink-sort-field="firstname">
          <thead>
            <tr>
              <th ng-repeat="view in tinkHeaders" tink-sort-header="{{view.sort}}">{{ view.alias }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-click="$parent.$parent.load()" ng-repeat="view in tinkData">
              <td>{{ view.firstname | date:'dd/MM/yyyy' }}</td>
              <td>{{ view.lastname }}</td>
              <td>{{ view.username }}</td>
            </tr>
          </tbody>
        </table>

        <tink-pagination  tink-current-page="$parent.ct.nums" tink-change="$parent.changed(type,value,next)" tink-total-items="$parent.ct.totalitems" tink-items-per-page="$parent.ct.numpp"></tink-pagination>

      </tink-interactive-table>
    </div>
    <!-- <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div>
      <tink-interactive-table ng-model="data" data-tink-allow-column-reorder="true" data-tink-headers="headers" data-tink-actions="actions" data-tink-items-per-page="pages" data-tink-force-responsive="true"></tink-interactive-table>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <div class="form-group">
        <div class="select">
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="input-text">Your name</label>
        <input type="text" id="input-text" placeholder="First and last name">
        <span class="help-block">You can write your name, right?</span>
      </div>
      <ul class="list-inline text-center">
        <li><p><button class="btn-sm btn-success">Woohoo</button></p></li>
        <li><p><button class="btn-sm btn-warning">O-ow</button></p></li>
        <li><p><button class="btn-sm btn-danger">Holy $%!†</button></p></li>
        <li><p><button class="btn-sm btn-info">Tell me…</button></p></li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="col-xs-12 text-center">
  <a href="javascript:void(0)" class="btn">Meer laden</a>
</div>
<div class="col-xs-12 text-center margin-top margin-bottom">
  <a href="javascript:void(0)" class="">Alles laden</a>
</div> -->
